@charset "UTF-8";
/* YOUR CUSTOM CSS */

.cursor{
    cursor: pointer;
}


.select-scale:hover{
    transform: scale(1.3);
}

.scroll-time{
    overflow-x: hidden;
    height: 66px;

}

.scroll-day{
    overflow-x: hidden;
    height: 46px;
}
.selected{
    font-weight: 900;
    color: #e91e63;
    font-size: 1.5rem;
}
#myMap {
    padding: 10px;
    height: 350px;
    width: auto;
}
#retaurante-min{
    top: 20px;
    width: 100px;
    height: 100px;
    border: 1px solid #fff;
    color: #c2c2c2;
    float: right;
}
.retaurante-min2{
    top: 20px;
    width: 76px;
    height: 76px;
    border: 1px solid #fff;
    color: #c2c2c2;
    float: right;
}
#anuncio-min {
    width: 100%;
    height: 274px !important;
    border: 1px solid #fff;
    color: #c2c2c2;
    float: right;
}
/* responsive */
/* Desde la anchura 0px hasta la anchura 1488px de pantalla */
@media (max-width: 768px){
    /* Se ejecutaran estos archivos */
    #anuncio-min {
        width: 100%;
        height: 178px !important;
        border: 1px solid #fff;
        color: #c2c2c2;
        float: right;
    }
    .img-responsive {
        display: block !important;
        max-width: 100% !important;
        height: 200px !important;
    }
}
.promotion-text{
    display: block;
    text-decoration: line-through;
    color: #b2b2b2;
}
.remove_item{
    cursor: pointer;
}
.MuiAvatar-root {
    width: 128px !important;
    height: 128px !important;
    text-align: center !important;
    margin: auto !important;
}
.btn_1{
    margin-top: 10px;
    border: none;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: inherit;
    color: #fff;
    background: #e91e63;
    cursor: pointer;
    padding: 7px 20px;
    outline: none;
    font-size: 12px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    text-transform: uppercase;
    font-weight: 600;
    display: inline-block;
    text-align: center;
    margin-bottom: 10px;
    width: 100%;
}

.buttons-pdf{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: inherit;
    color: #fff !important;
    background: red !important;
    padding: 7px 20px !important;
    outline: none;
    font-size: 12px !important;
    text-transform: uppercase !important;
    font-weight: 600 !important;
    width: 200px !important;
}
.buttons-excel{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: inherit;
    color: #fff !important;
    background: green !important;
    padding: 7px 20px !important;
    outline: none;
    font-size: 12px !important;
    text-transform: uppercase !important;
    font-weight: 600 !important;
    width: 200px !important;
}

section{
    width: 100% !important;
}
.fix-border{
    border-top: white 2px !important;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: white !important;
}